<h2>Shopping cart:</h2>
<div *ngFor="let item of cartItems; index as i" class="mb-2">
  <h3><span class="badge badge-primary">{{i + 1}}.Item</span>{{item.name}}</h3>
  <h4>Prize: {{item.prize}}</h4>
</div>
<div *ngIf="!cartCleared">
  <h3>Full prize: <span>{{fullPrize()}}</span></h3>
</div>
<div *ngIf="!cartCleared">
  <button class="btn btn-success" (click)="makeOrder()">Order</button>
  <button class="btn btn-danger ml-2" (click)="deleteCart()">Clear Cart</button>
</div>
<h3 *ngIf="cartCleared">Your shopping cart is empty</h3>

