<div class="row">
    <div class="col-3">
        <h2>Categories</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark"><a routerLink="/items/anime">Anime</a></li>
          <li class="list-group-item list-group-item-dark"><a routerLink="/items/sports">Sports</a></li>
          <li class="list-group-item list-group-item-dark"><a routerLink="/items/electronics">Electronics</a></li>
        </ul>
    </div>
    <div class="col-9">
      <img id="sales-img" src="./../../assets/imgs/sales-promotion.jpg" alt="sales image">
    </div>
</div>

